#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };

        sys_5 {
            if-layers = <2 5>;
            then-layer = <6>;
        };
    };

    macros {
        find_replace_03: find_replace_03 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&kp Y &kp I &kp Z &kp G &kp V &kp COLON &kp S &kp SLASH>,
                <&macro_wait_time 100>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp R>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 100>,
                <&kp NON_US_BACKSLASH &kp DOUBLE_QUOTES &kp SLASH>;
        };

        code_05: code_05 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&kp DOUBLE_QUOTES &kp PLUS>,
                <&macro_wait_time 20>,
                <&kp Y &kp I &kp W>,
                <&macro_wait_time 50>,
                <&kp G &kp V &kp COLON &kp SLASH>,
                <&macro_wait_time 20>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 20>,
                <&kp SLASH>;
        };

        code_11: code_11 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_wait_time 20>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp B>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        code_12: code_12 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_wait_time 20>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp N0>;
        };

        code_13: code_13 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_wait_time 20>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp NUMBER_1>;
        };

        code_20: code_20 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LALT &kp LSHFT>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LSHFT &kp LALT>,
                <&macro_wait_time 20>,
                <&kp DELETE>;
        };

        code_21: code_21 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&kp I>,
                <&macro_wait_time 20>,
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LGUI>;
        };

        code_22: code_22 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LGUI>,
                <&macro_wait_time 20>,
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LGUI>,
                <&macro_wait_time 20>,
                <&kp ENTER>;
        };

        code_23: code_23 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&kp LEFT_BRACKET &kp LEFT_BRACKET>,
                <&macro_wait_time 20>,
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp RIGHT_BRACKET &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW &kp LEFT_ARROW>;
        };

        code_24: code_24 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LGUI>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LGUI>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LGUI>,
                <&macro_wait_time 50>,
                <&macro_tap>,
                <&kp ENTER>;
        };

        code_25: code_25 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp R>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_tap>,
                <&kp ENTER>;
        };

        code_26: code_26 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LCTRL>;
                <&macro_wait_time 50>;
        };

        code_27: code_27 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp Q>,
                <&macro_release>,
                <&kp LCTRL>;
                <&macro_wait_time 50>;
        };

        code_28: code_28 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp O>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_tap>,
                <&kp NUMBER_1>;
        };

        code_29: code_29 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&kp Y &kp I &kp Z>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp Y>,
                <&macro_release>,
                <&kp LCTRL>;
                <&macro_wait_time 50>;
        };

        code_30: code_30 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&kp Y &kp I &kp Z &kp PLUS &kp Q &kp Q>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp R>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp NON_US_BACKSLASH &kp DOUBLE_QUOTES &kp ENTER>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp O>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_wait_time 50>,
                <&macro_tap>,
                <&kp NUMBER_1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp LEFT_PARENTHESIS  &kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &kp SEMICOLON  &kp RIGHT_PARENTHESIS  &sk LEFT_SHIFT  &kp A  &kp R  &kp S  &kp T  &kp G  &kp M  &kp N  &kp E  &kp I  &kp O  &mt RIGHT_CONTROL RIGHT_BRACKET  &kp LEFT_BRACE  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp K  &kp H  &kp COMMA  &kp DOT  &kp SQT  &kp RIGHT_BRACE  &kp LEFT_CONTROL  &mo 5  &mo 2  &lt 1 SPACE  &mo 4  &kp RIGHT_SHIFT
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
&trans  &kp PAGE_UP  &kp LA(LEFT_ARROW)  &kp UP_ARROW  &kp LA(RIGHT_ARROW)  &kp PAGE_DOWN  &kp RA(K)  &kp PAGE_UP  &kp RC(Y)  &kp PAGE_DOWN  &trans  &trans  &kp LEFT_BRACKET  &kp LG(LEFT_ARROW)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LG(RIGHT_ARROW)  &kp H  &kp J  &kp K  &kp L  &kp RIGHT_SHIFT  &trans  &trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LG(LA(V))  &kp RA(J)  &kp RC(HOME)  &kp RC(E)  &kp RC(END)  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&trans  &kp TAB  &kp N7  &kp N8  &kp N9  &kp ENTER  &kp HASH  &kp UNDERSCORE  &kp ASTERISK  &kp EXCLAMATION  &kp COLON  &trans  &kp LEFT_BRACKET  &kp LEFT_ALT  &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp ESCAPE  &kp EQUAL  &kp ENTER  &kp PLUS  &kp MINUS  &kp BACKSPACE  &trans  &trans  &kp N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &kp AT_SIGN  &kp DELETE  &kp SLASH  &kp QUESTION  &kp DOUBLE_QUOTES  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&trans  &kp TAB  &kp GRAVE  &kp CARET  &kp AMPERSAND  &kp ENTER  &kp HASH  &kp UNDERSCORE  &kp ASTERISK  &kp EXCLAMATION  &kp COLON  &trans  &kp LEFT_BRACKET  &kp LEFT_ALT  &kp LESS_THAN  &kp DOLLAR  &kp GREATER_THAN  &kp ESCAPE  &kp EQUAL  &kp ENTER  &kp PLUS  &kp MINUS  &kp BACKSPACE  &trans  &trans  &kp TILDE  &kp PERCENT  &kp PIPE  &kp NON_US_BACKSLASH  &kp GRAVE  &kp AT_SIGN  &kp DELETE  &kp SLASH  &kp QUESTION  &kp DOUBLE_QUOTES  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            display-name = "right_2";
            bindings = <
&trans  &trans  &kp LA(NUMBER_6)  &kp LS(F12)  &trans  &kp LA(B)  &find_replace_03  &code_12  &kp RC(K)  &code_13  &trans  &trans  &kp LEFT_BRACKET  &trans  &kp LA(D)  &kp F12  &kp LA(I)  &kp F11  &trans  &kp LA(NUMBER_3)  &kp RC(J)  &kp LA(NUMBER_3)  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LA(C)  &kp LA(N5)  &code_11  &kp LA(N7)  &kp LA(N9)  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            display-name = "left_2";
            bindings = <
&kp LG(X)  &kp LG(LA(V))  &kp LG(C)  &kp LG(V)  &kp LC(LG(LA(I)))  &kp ENTER  &kp HASH  &kp UNDERSCORE  &kp ASTERISK  &kp EXCLAMATION  &kp COLON  &trans  &code_24  &kp LEFT_ALT  &msc SCRL_UP  &mkp LCLK  &mkp RCLK  &kp ESCAPE  &kp EQUAL  &kp ENTER  &kp PLUS  &kp MINUS  &kp BACKSPACE  &trans  &trans  &studio_unlock  &msc SCRL_DOWN  &kp TAB  &kp LEFT_ALT  &mo 2  &kp AT_SIGN  &kp DELETE  &kp SLASH  &kp QUESTION  &kp DOUBLE_QUOTES  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            display-name = "2_5";
            bindings = <
&trans  &kp LG(LA(LC(A)))  &kp LG(LA(LC(E)))  &kp UP_ARROW  &kp LA(NUMBER_2)  &kp LA(LC(LG(B)))  &kp HASH  &kp UNDERSCORE  &kp ASTERISK  &kp EXCLAMATION  &kp COLON  &trans  &kp LEFT_BRACKET  &kp LC(LEFT_ARROW)  &kp LC(LS(TAB))  &kp DOWN_ARROW  &kp LC(TAB)  &kp LC(RIGHT_ARROW)  &kp EQUAL  &kp F2  &kp PLUS  &kp MINUS  &code_20  &trans  &trans  &kp LG(L)  &kp LG(V)  &kp LC(LA(LEFT_ARROW))  &kp LA(LC(LG(H)))  &kp LA(LG(LC(G)))  &kp AT_SIGN  &kp DELETE  &kp SLASH  &kp QUESTION  &kp DOUBLE_QUOTES  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
